@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h3 style="color:darkgreen">@TempData["message"]</h3>
        <h3>Login</h3>
        <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-primary btn-lg m-1">login</a>
        <h5 class="m-3">OR</h5>
        <h3>Register</h3>
        <a asp-area="" asp-controller="Home" asp-action="Register" class="btn btn-primary btn-lg m-1">Register</a>
    </div>
}
else
{
    <a asp-area="" asp-controller="Home" asp-action="MyReferenceDetails" class="btn btn-primary btn-lg m-1">My Profile</a>
    <a asp-area="" asp-controller="Home" asp-action="Logout" class="btn btn-primary btn-lg m-1">Logout</a>
}