@{
    ViewData["Title"] = "Login";
}
@model GetUserQueryRequest

@if (User.Identity.IsAuthenticated)
{
    <h1>Please Logout</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
}

else
{
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>

                    <form asp-controller="Home" asp-action="Login" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="All"></div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control" type="password"/>
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}